.Main-Container-Explore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  gap: 6vw;
  max-width: 1440px;
  margin: 0px auto;
  padding: 80px 0px;
}

.Dishes-Card {
  width: 300px;
  height: 300px;
  box-shadow: 3px 3px 6px #a7a7a7;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid white;
}

.Dishes-Card:hover{
  overflow: scroll;
}

.Dishes-Card::-webkit-scrollbar {
  display: none;
}

.Dish-Image {
  flex: 1;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.Dish-Details {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px;

  .TheDish {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .DishName {
      font-size: 22px;
      font-weight: 500;
    }

    .DishPrice {
      font-size: 20px;
      font-weight: 400;
      color: #ff5656;
    }
  }

  .AboutDish {
    max-height: 70px;
    overflow-y: scroll;
  }
  .AboutDish::-webkit-scrollbar {
    display: none;
  }
}

.TheOrder {
  display: flex;
  flex-direction: row-reverse;

  a {
    padding: 8px 19px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  button {
    width: 80px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    color: rgb(0, 0, 0);
  }
}
