@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html{
    background-color: rgb(240, 240, 240);
    width: 100vw;
    height: auto;
}
body{
    overflow: hidden;
    height: 100vh;
    border-bottom: 1px solid black;
}